//-
//- Copyright (c) Microsoft.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

extends ../layout

block content
  .container
    .row
      .col-md-3.col-lg-3
        include ./menu
      .col-md-7.col-lg-7
        div.container
          if link
            h1 Corporate link

            table.table
              thead
                tr
                  th Attribute
                  th Value
              tbody
                if link.corporateId
                  tr
                    td Corporate ID
                    td= link.corporateId
                if link.corporateUsername
                  tr
                    td Corporate Username
                    td= link.corporateUsername
                if link.thirdPartyId
                  tr
                    td GitHub User ID
                    td= link.thirdPartyId
                if link.thirdPartyUsername
                  tr
                    td GitHub Username
                    td= link.thirdPartyUsername

            p
              a.btn.btn-muted.btn-sm(href='/link/remove') Remove link
