//-
//- Copyright (c) Microsoft. All rights reserved.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

extends ./layout.pug

block content
  div.container

    h1 Profile

    p You can edit your profile directly on GitHub.com.

    p: a.btn.btn-sm.btn-primary(href='https://github.com/settings/profile', target='_new') Edit GitHub profile
