//-
//- Copyright (c) Microsoft.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

.panel.panel-default
  .panel-heading Information
  .list-group
    a.list-group-item(href='/settings', class={active: view === 'settings'}) Corporate profile
    a.list-group-item(href='https://github.com/settings/profile', target='_new', class={active: view === 'github-profile'}) GitHub Profile
.panel.panel-default
  .panel-heading Authorizations & accounts
  .list-group
    a.list-group-item(href='/settings/authorizations', class={active: view === 'settings/authorizations'}) GitHub app
    a.list-group-item(href='/settings/contributionData', class={active: view === 'settings/contributionData'}) Contribution data
.panel.panel-default
  .panel-heading Features
  .list-group
    a.list-group-item(href='/settings/approvals', class={active: view === 'settings/approvals'}) Active requests
