.DS_Store
.git
.gitignore
.certs
.vscode
client
node_modules

public
resources
test
.deployment
CONTRIBUTING.md
npm-debug.log
osscg-template.json
README.md
deploy.cmd
web.config
*-compose*
env.*.list
