# Logs
*.log

# Ignoring npm 4 lock file for now
package-lock.json

# Component registration logs
registration/

# Node
node_modules/
node_modules.private/

# Client script
bower_components/
.sass-cache/

# Static assets
public/
resources/scss/build.scss
resources/less/build.less

# OS X
.DS_Store

# Local scripts
sync-*.js

# Local development environment scripts
app.yaml
