GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:3000/auth/github/callback
ENTRA_ID_CLIENT_ID=
ENTRA_ID_REDIRECT_URL=http://localhost:3000/auth/azure/callback
ENTRA_ID_REDIRECT_URL=http://localhost:3000/auth/entra-id/callback
ENTRA_ID_CLIENT_SECRET=
ENTRA_ID_TENANT_ID=
