GITHUB_CENTRAL_OPERATIONS_TOKEN=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:3000/auth/github/callback
AAD_CLIENT_ID=
AAD_REDIRECT_URL=http://localhost:3000/auth/azure/callback
AAD_CLIENT_SECRET=
AAD_TENANT_ID=
AAD_ISSUER=https://sts.windows.net/your-tenant-id/
