{
  "localhost-config": {
    "properties": {
      "CONFIGURATION_ENVIRONMENT": "localhost",
      "APPINSIGHTS_INSTRUMENTATION_KEY": "",
      "SESSION_COOKIE_DOMAIN": "",
      "ENTRA_ID_CLIENT_SECRET": "configure as required",
      "MAIL_OVERRIDE_RECIPIENT": "your e-mail address"
    }
  }
}
