//-
//- Copyright (c) Microsoft. All rights reserved.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

.panel.panel-default
  .panel-heading Administration
  .list-group
    a.list-group-item(href='/administration', class={active: view === 'administration'}) Home
.panel.panel-default
  .panel-heading GitHub Apps
  .list-group
    a.list-group-item(href='/administration/apps', class={active: view === 'administration/apps'}) Apps
