body {
  font-family: "Segoe UI", "Segoe WP", Segoe, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 11pt;
  line-height: 16pt;
}

h1 {
  font-size: 36pt;
  font-family: "Segoe UI Light", "Segoe WP Light", Segoe, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #787878;
}

h1.blue {
  color: #20558a;
}

h2 {
  font-size: 24pt;
  font-family: "Segoe UI Light", "Segoe WP Light", Segoe, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #787878;
}

h3 {
  font-size: 16pt;
  font-family: "Segoe UI", "Segoe WP", Segoe, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #787878;
  font-weight: normal;
}

p {
  margin: 0 0 5pt;
}

a,
a:link {
  color: #20558a;
}

a:visited {
  color: #32145a;
}

pre {
  font-family: Consolas, "Courier New", Courier, monospace;
}

pre.body-font {
  font-family: "Segoe UI", "Segoe WP", Segoe, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

table.technical {
  font-size: 10pt;
  border: 1px solid #ddd;
  border-collapse: collapse;
}

table.technical tbody tr {
  border-top: 1px solid #ddd;
}

table.technical thead tr th,
table.technical tbody tr td {
  border: 1px solid #ddd;
  padding: 4px;
  margin: 0;
}

table.notification-action {
  background-color: #ff8c00;
  color: white;
  border: 0;
  min-height: 64px;
  width: 100%;
  margin-bottom: 16px;
}

table.notification-information {
  background-color: #20558a;
  color: white;
  border: 0;
  min-height: 64px;
  width: 100%;
  margin-bottom: 16px;
}

table.notification-warning {
  background-color: #e81123;
  color: white;
  border: 0;
  min-height: 64px;
  width: 100%;
  margin-bottom: 16px;
}

table.notification-success {
  background-color: #107c10;
  color: white;
  border: 0;
  min-height: 64px;
  width: 100%;
  margin-bottom: 16px;
}

table.notification-action tbody tr td h1,
table.notification-warning tbody tr td h1,
table.notification-success tbody tr td h1,
table.notification-information tbody tr td h1 {
  color: white;
  font-size: 36pt;
  margin-bottom: 8px;
  margin-left: 16px;
  margin-top: 8px;
  padding: 8px 12px 8px 16px;
}

p.footer {
  font-size: 10pt;
  color: #787878;
}

.footer p small {
  font-size: 9pt;
  color: #787878;
}

p.footer a {
  text-decoration: none;
  color: #20558a;
}

th {
  text-align: left;
}

#container {
  max-width: 480px;
}

@media only screen and (min-width: 480px) {
  table[id="container"] { width: 600px; }
}

@media only screen and (max-width: 480px) {
  body {
    width: 100% !important;
    min-width: 100% !important;
  }

  table[id="container"] {
    width: 100% !important;
    max-width: 480px !important;
  }
}
