//-
//- Copyright (c) Microsoft. All rights reserved.
//-

.appFooter
  table(style='width:100%;', cellspacing=0, cellpadding=0)
    tbody
      tr
        td(width='100%', colspan='2', style='height:28px')
          p
      tr
        td(width='100%', colspan='2', style='height:12px)
      tr
        td
        td
          p.footer(style='text-align: right')
            if version
              | Repos #{version}
              br
            if correlationId
              | Correlation ID: #{correlationId}
            if view
              | Template: #{view}
