//-
//- Copyright (c) Microsoft.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

extends email

block content
  h2= repository.full_name
  p= reason
  p.
    While we are not able to prevent this at the GitHub level, unfortunately when you assign a very
    large team to have write or admin access to a repo, it spams all users of GitHub at the company, and
    subscribes them to notifications about your repo, if users have not opted out of being notified of repos
    they have strong permissions to.
  
