//-
//- Copyright (c) Microsoft.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

extends email

block content
  p: strong Please do not assign large teams write or admin access to your repo.
  h2= repository.full_name
  p= reason
  p While we are not able to prevent these large team assignments on GitHub, we wanted to let you know that this action has significant impact, and to be careful not to assign so much permission to your repo again.
  p Assigning these permissions is a security risk, and also spams all users of GitHub across the company, potentially subscribing them to notifications about your repo (depending on their notification settings).
  p You can learn more about this scenario here: #[a(href='https://docs.opensource.microsoft.com/tools/github/teams.html') https://docs.opensource.microsoft.com/tools/github/teams.html].