//-
//- Copyright (c) Microsoft.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

extends email

block content
  p Your #{targetType.toLowerCase()} was deleted. It was not setup or approved after being created.
