//-
//- Copyright (c) Microsoft.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

extends layout

block js
  link(href='/client/assets/vendor.css?v=2a', rel='stylesheet')
  link(href='/client/assets/client.css?v=2a', rel='stylesheet')
  //- script(type='text/javascript', src='/js/jquery.min.js')
  script(src='/client/assets/vendor.js?v=2a')
  script(src='/client/assets/client.js?v=2a')
  script(type='text/javascript', src='/js/bootstrap.min.js')
  script(type='text/javascript', src='/js/jquery.timeago.js')

block content
  #ember-app
