//-
//- Copyright (c) Microsoft. All rights reserved.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

doctype html
html(lang="en")
  include head
  body
    include alerts
    - var scheme = primaryAuthenticationScheme || (config ? config.authentication.scheme : null)
    include nav
    if reposContext && site === 'github'
      include reposToolbar
    //-include breadcrumbs

    // content
    block content
    // end of content

    include footer
    include insights
    include ga
    if config && config.continuousDeployment
      != '\n<!--'
      != (config.continuousDeployment.commitId ? '\nCommit ' + config.continuousDeployment.commitId : '')
      != (config.continuousDeployment.build ? '\nBuild ' + config.continuousDeployment.build : '')
      != (config.continuousDeployment.release ? '\nRelease ' + config.continuousDeployment.release : '')
      != (config.continuousDeployment.name && config.continuousDeployment.version ? '\nPackage ' + config.continuousDeployment.name + ' ' + config.continuousDeployment.version : '')
      != '\n-->'
