//-
//- Copyright (c) Microsoft. All rights reserved.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

doctype html
html(lang="en")
  include head
  body
    include alerts
    include nav
    include breadcrumbs

    // content
    block content
    // end of content

    include footer
    include insights