//-
//- Copyright (c) Microsoft.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

extends layout

//- Conditions for this page:
  // - linked
  // - using AAD-primary authentication
  // - no stored GitHub token

block content
  div.container
    h1 Please sign in with GitHub
    p.lead This application needs to connect to your GitHub account to continue.
    .vertical-space
      p
        a.btn.btn-lg.btn-primary(href='/' + (signinPathSegment || 'signin') + '/github') Authenticate with GitHub
        | &nbsp; &nbsp; &nbsp;
        a.btn.btn-lg.btn-default(href='/signout') Sign out
