//-
//- Copyright (c) Microsoft. All rights reserved.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

extends layout

//- Conditions for this page:
  // - linked
  // - using AAD-primary authentication
  // - no stored GitHub token

block content
  div.container
    if migratedOpenSourceHubUser !== undefined
      h1 Welcome
    else
      h1 Please sign in with GitHub
    if migratedOpenSourceHubUser !== undefined
      p.lead Please sign in with GitHub
      p Your account has been migrated from the Open Source Hub to the new GitHub management experience for Microsoft.
      p Since this is the first time you are using this new app, we need you to authenticate with your "#{expectedUsername}" GitHub account.
    else
      p.lead This application needs to connect to your GitHub account to continue.
    .vertical-space
      p
        a.btn.btn-lg.btn-primary(href='/signin/github') Authenticate with GitHub
        | &nbsp; &nbsp; &nbsp;
        a.btn.btn-lg.btn-default(href='/signout') Sign out
