//-
//- Copyright (c) Microsoft.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

div.navbar.navbar-inverse
  div.container-fluid
    div.navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#repos-section-navbar-collapse', aria-expanded='false')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    div.collapse.navbar-collapse#repos-section-navbar-collapse
      ul.nav.navbar-nav(style='margin-left:-30px')
        li(class={ active: reposContext.section === 'orgs' })
          a(href='/', title='Site home page; view all GitHub organizations') Organizations
        if reposContext.organization
          li(class={ active: reposContext.section === 'org' })
            a(href=(reposContext.organization ? '/' + reposContext.organization.name : ''), title=(reposContext.organization ? reposContext.organization.name + ' organization' : ''))= reposContext.organization.name
        li(class={ active: reposContext.section === 'repos' })
          a(href=(reposContext.organization ? '/' + reposContext.organization.name : '') + '/repos', title='Repositories: Code and issues') Repositories
        li(class={ active: reposContext.section === 'teams' })
          a(href=(reposContext.organization ? '/' + reposContext.organization.name : '') + '/teams', title='Teams: GitHub permissions') Teams
        li(class={ active: reposContext.section === 'people' })
          a(href=(reposContext.organization ? '/' + reposContext.organization.name : '') + '/people', title='People: GitHub organization members') People
        // show FOSS Fund only on the start page and only if the features.allowFossFundElections is enabled
        if !reposContext.organization && config.features && config.features.allowFossFundElections
          li(class={ active: reposContext.section === 'contributions' })
            a(href=('/contributions')) FOSS Fund

      //-ul.nav.navbar-nav.navbar-right
