//-
//- Copyright (c) Microsoft. All rights reserved.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

extends layout

block content
  div.container
    div.row
      div.col-md-6.col-lg-6.col-sm-6
        h1 Hi, #{user.github.displayName || user.github.username}
        h2 #{config.companyName} employees & vendors
        p.lead To onboard, please authenticate with Active Directory.
        p
          a.btn.btn-lg.btn-primary(href='/signin/azure') Sign in to #{config.companyName} IT
      div.col-md-6.col-lg-6.col-sm-6
        //-div.alert-gray(style='padding:12px')
        div(style='padding:12px')
          //h3 Onboarding
          p.lead Joining for the first time should take 2-15 minutes
          p The initial sign-up process should take <strong>2-15 minutes</strong>, depending on whether your GitHub account already has multi-factor authentication enabled.
        p This onboarding experience will:
        ul
          li Validate the corporate identity to associate with #{user.github.username}
          li Step you through joining the GitHub organization
          li Verify and/or configure the two-factor security of your GitHub account
          li Allow you to request access to any team projects
