//-
//- Copyright (c) Microsoft.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

extends ../layout

block content
  div.container

    p
      a.btn.btn-sm.btn-default(href='/organization/') Back

    h1
      | Bulk repository delete &nbsp;
      label.label-danger Super dangerous

    p This specialized page is designed for bulk repository delete. Be very careful. This is very permanent.

    form(method='post')
      textarea(name='repositories')
      input.btn.btn-danger(type='submit', value='Bulk delete')