//-
//- Copyright (c) Microsoft. All rights reserved.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

extends ../../layout

block content
  div.container

    h1 Remove GitHub user "#{removeUsername}" from your team "#{team.title || team.ghname}"?

    p Thanks for your role in helping maintaining the GitHub membership of your team and the organization at large.

    p.lead Should this member be removed from your team alone, or from the entire organization?

    form.form-horizontal(method='post')
      div.container
        div.row
          div.col-md-4.col-lg-4.col-sm-4
            p
              input.btn.btn-primary(name='removeFromTeam', type='submit', value='Remove from team')
          div.col-md-4.col-lg-4.col-sm-4
            p
              input.btn.btn-default(name='removeFromOrg', type='submit', value='Remove from organization')
          div.col-md-4.col-lg-4.col-sm-4
            p
              input.btn.btn-default(type='button', value='Cancel', onclick='window.history.back()')
        div.row
          div.col-md-4.col-lg-4.col-sm-4
            p Remove this user simply from this one team that you manage, <strong>#{team.title || team.ghname}</strong>. The user will remain in any other team(s) across the organization.
          div.col-md-4.col-lg-4.col-sm-4
            p Dropping a user from the organization will require them to re-join the organization + any/all teams in the case of a mistake.
            p Please note that this operation cannot be easily reversed.
            p <strong>The primary purpose of the organization remove function is to handle departures from the company.</strong>
          div.col-md-4.col-lg-4.col-sm-4
            p Press to go back without committing any changes to the user, team or organization.
