//-
//- Copyright (c) Microsoft. All rights reserved.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

p You can find out more about GitHub two-factor authentication online:

ul
  li <a href="https://github.com/blog/1614-two-factor-authentication">GitHub blog post about 2FA</a>
  li <a href="https://help.github.com/articles/about-two-factor-authentication/">GitHub 2FA help</a>
