name: Test

on:
  push:
    branches-ignore:
      - 'dependabot/**'
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          cache: npm

      - name: Install Dependencies
        run: npm ci

      - name: Run Markdownlint
        run: npm run lint:md

      - name: Run ESLint
        run: npm run lint:js

      - name: Run tests
        run: npm test

      - name: Build container
        run: |
          docker build .
