name: Test

on:
  push:
  pull_request:

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Setup Node
      uses: actions/setup-node@v2

    - name: Install Dependencies
      run: npm ci

    - name: Run Linting
      run: npm run offline-lint:js

    - name: Run tests
      run: npm test
